# OS / Editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Docker
*.log
docker-compose.override.yml

# Kubernetes
jenkins-kubeconfig.yaml
kubeconfig
*.kubeconfig

# Jenkins
jenkins_home/
secrets/
credentials.xml

# WSL / Windows
*.swp
Thumbs.db
